{# templates/bundles/TwigBundle/Exception/error404.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Error 404{% endblock %}

{% block MonTitre %}
    Page non trouvée!
{% endblock %}

{% block body %}
    <h>La page demandée n'existe pas !</h1>
    <a href="{{ path('aliments') }}">retour à la page d'accueil</a>.
{% endblock %}